@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ecommercwe App</h1>
    <h2>We will add soon many things</h2>
    <h2>We are adding UI Soon</h2>
</div>
